
/*  

Working on 
            colors
            Gradient Colors
            Box Shadows
            Button
            Animated Gradients

Check Fonts:
            Geometric Sans,
            Akzidenz Grotesk,
            Aileron,
            Masculine
            
*/

* {
    margin: 0; padding: 0;
    box-sizing: border-box;
}

html, body {
    margin: 0; padding: 0; height: 100%;
    background-color: var(--Plain);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

:root {

    /* Font Sizes */


    --CoverTextLargeHeadFontSize: 2.2;
    --CoverTextSmallHeadFontSize: 2.15;
    --CoverTextParagraphFontSize: 1.1;

    --LargeHeadingFontSize: 2.1;
    --HeadingFontSize: 1.8;
    --SmallHeadingFontSize: 1.5;
    
    --ParagraphFontSize: 1;




    /* Color Profiles */

    /* Harvesting the wheat  */
/* 
    --Plain: #f2e0c9;
    --light: #d99e6a;
    --medium: #a65b1b;
    --dark: #400202;
    --extra: #403001;
 */

 /* Industries */

     
    --Plain: rgb(244, 246, 246);
    --Plain-medium: rgb(232, 236, 236);
    --light: rgb(30, 130, 150);
    --medium: rgb(20, 110, 120);
    --dark: rgb(0, 70, 80);
    --extra: rgb(17, 42, 64);
    --extra-medium: rgb(69, 107, 140);
    --extra-light: rgb(170, 214, 255);
    --brightmedium: rgb(20, 120, 78);
    --brightdark: rgb(0, 80, 56);

    --msi-red: rgb(175, 30, 30);
 


    --gradient: linear-gradient(40deg, var(--dark) 40%, var(--light) 40%, var(--light) 70%, var(--dark) 30%) ;

/*     --Plain: rgb(242, 242, 242);
    --light: rgb(145, 183, 217);
    --medium: rgb(69, 107, 140);
    --dark: rgb(17, 42, 64);
    --extra: rgb(40, 110, 120);
    --extra-medium: rgb(50, 160, 170);
    --msi-red: rgb(175, 30, 30); */



        /* Wheat field Agriculture */
/*     
    --Plain: #d9d0c1;
    --light: #f2b138;
    --medium: #bf6415;
    --dark: #8c3908;
    --extra: #d9984a;
 */

    /* Wireframe Computer for Modern Industrial */
/*  
    --Plain: #f2f2f2;
    --light: #6387a6;
    --medium: #0f3759;
    --dark: #111559;
    --extra: #141a8c;
 */

 /* Modern industrial enterprise */
/* 
    --Plain: #f2a81d;
    --light: #f29863;
    --medium: #f28e13;
    --dark: #048abf;
    --extra: #0367a6;
 */

    /* Industry technology  */
/*      
    --Plain: #c4ddf2;
    --light: #0378a6;
    --medium: #024873;
    --dark: #012840;
    --extra: #4189a6;
 */
        
}


/* Site One Time Declarations */

/* Font Sizing */

h1 { font-size: calc(var(--CoverTextLargeHeadFontSize) * 1rem + 0.25vmin);}
h2 { font-size: calc(var(--CoverTextSmallHeadFontSize) * 1rem + 0.25vmin);}
h3 { font-size: calc(var(--LargeHeadingFontSize) * 1rem + 0.5vmin);}
h4 { font-size: calc(var(--HeadingFontSize) * 1rem + 0.5vmin);}
h5 { font-size: calc(var(--SmallHeadingFontSize) * 1rem + 0.5vmin);}
h6 { font-size: calc(var(--CoverTextParagraphFontSize) * 1rem + 0.3vmin);}
p { font-size: calc(var(--ParagraphFontSize) * 1rem + 0.5vmin);}


/* Font Sizing End in Media Query */

@media only screen and (max-width: 10in) {

    h1 { font-size: calc(var(--CoverTextLargeHeadFontSize) * 50%);}
    h2 { font-size: calc(var(--CoverTextSmallHeadFontSize) * 50%);}
    h4 { font-size: calc(var(--HeadingFontSize) * 75%);}
    h6 { font-size: calc(var(--CoverTextParagraphFontSize) * 75%);}
}


/* Font Sizing End in Media Query End */
/* Font Sizing End */

.MSIColor {
    color: var(--msi-red);
}

/* Site One Time Declarations End */



/* Site Header */

header.SiteHeader {
    position: sticky;
    display: grid;
    grid-template-columns: 9vmin 1fr;
    grid-template-areas:
    "SiteLogoArea BusinessTitleArea"
    "SiteLogoArea SiteSloganArea";
    grid-column-gap: 0.2em;
    top: 0;
    padding: 0.75em 0.2em;
    align-items: center;
    background-color: var(--Plain);
    z-index: 6;
}

header img.SiteLogo {
    display: block;
    width: 6vmin;
    grid-area: SiteLogoArea;
    justify-self: center;
}


@font-face {
    src: url(/Assets/Fonts/Square_Shape/corp.ttf);
    font-family: BusinessTitle;
}

header span.BusinessTitle{
    grid-area: BusinessTitleArea;
    font-family: BusinessTitle;
    font-size: calc(2em + 0.9vmin);
    font-weight: bold;
    color: var(--msi-red);
    padding-top: 0%;
}

/* Millennia.otf */
/* Abandon.ttf */
@font-face {
    src: url(/Assets/Fonts/Selected/HomePageWelcome/Quango.otf);
    font-family: SiteSlogan;
}

header span.SiteSlogan{
    grid-area: SiteSloganArea;
    font-family: SiteSlogan;
    font-size: 2vmin;
    word-spacing: 0.4em;
    letter-spacing: 0.4em;
    color: var(--msi-red);
}

header .HeaderText {
    margin: 0;
    padding: 0;
}

/* Site Header End */

/* Main Menu */
.MainMenu {
    width: 100vw; max-width: 100%;
    background-color: var(--dark);
    border-top: solid var(--medium);
    z-index: 4;
}

.MainMenu ul {
    display: grid;
    grid-template-columns: repeat(7, minmax(auto, 1fr));
    list-style: none;
    padding: 0 0.5%;
    z-index: 4;
}

.MainMenu ul li {
    text-align: center;
    border-radius: 5px;
    line-height: 1.4em;
    z-index: 4;
}

.MainMenu ul li:hover {
    background-color: var(--medium);
    transform: scale(1.3);
    transform: translateY(0.3em);
    font-weight: bold;
    transition: transform 200ms ease-in-out;
}
.MainMenu ul li:focus {
    background-color: var(--medium);
    transform: scale(1.3);
    transform: translateY(0.3em);
    font-weight: bold;
    transition: transform 200ms ease-in-out;
}

@font-face {
    src: url(/Assets/Fonts/Selected/Quango.otf);
    font-family: SiteMenu;
}

.MainMenu ul li a {
    display: block;
    text-decoration: none;
    color: var(--Plain);
    font-family: SiteMenu;
    font-size: 1.1em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

#ResponsiveNav {
    display: none;
}

.ResponsiveNavIcon {
    display: none;
}

/* Main Menu Media Query*/

@media only screen and (max-width: 10in) {

    header.SiteHeader {
        z-index: 2;
    }

    header span.BusinessTitle{
        font-size: calc(1.25em + 0.5vmin);
    }

    header span.SiteSlogan{
        font-size: calc(0.8em + 0.1vmin);
    }    

    .ResponsiveNavIcon {
        display: block;
        position: absolute;
        width: 45vw;
        color: var(--Plain);
        padding: 1.5em 1.2em;
        text-align: left;
        z-index: 5;
    }

    .MainMenu {
        position: fixed;
        width: 45vw; min-height: 100%;
        top: 0;
        transform: scale(0, 1);
        transition: transform 250ms ease;
        transform-origin: left;
    }

    .MainMenu ul {
        grid-template-columns: 1fr;
        margin-top: 7em;
    }

    .MainMenu ul li {
        text-align: left;
        padding: 0.5em 1.2em;
    }

    .MainMenu ul li a {
        font-size: 0.9em;
    }

    #ResponsiveNav:checked ~ .MainMenu {
        transform: scale(1);
        transition: transform 250ms ease-in;
        transform-origin: left;
    }

    .ResponsiveNavIcon span {
        display: block;
        content: "";
        position: absolute;
        top: 1.5em;
        width: 2em; height: 0.15em;
        background-color: white;
    }

    .ResponsiveNavIcon span::before {
        display: block;
        content: "";
        position: absolute;
        background-color: white;
        top: 5px;
        width: 2em; height: 0.15em;
    }

    .ResponsiveNavIcon span::after {
        display: block;
        content: "";
        position: absolute;
        background-color: white;
        bottom: 5px;
        width: 2em; height: 0.15em;
    }

    #ResponsiveNav:checked ~ .ResponsiveNavIcon span  {
        background: transparent;
    }

    #ResponsiveNav:checked ~ .ResponsiveNavIcon span::before  {
        background-color: var(--Plain);
        transform: rotate(-45deg);
        transition: transform 300ms 100ms;
        top: 0;
    }

    #ResponsiveNav:checked ~ .ResponsiveNavIcon span::after  {
        background-color: var(--Plain);
        transform: rotate(45deg);
        transition: transform 300ms 100ms;
        bottom: 0;
    }

}

/* Main Menu Media Query End */
/* Main Menu End */

/* Home Page Cover */

.HomePageCoverWrapper {
    margin: auto;
    max-width: 100%;
}

.HomePageCover {
    position: relative;
    padding: 5% 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(60vh, auto);
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(232, 236, 236, 0.6), rgba(232,236, 236, 0.9)), linear-gradient(135deg, var(--Plain-medium), var(--medium));
    z-index: 2;
    box-shadow:  0em 0.5em 2em 0 var(--extra);
}

/* Home Page Cover Message */

.HomePageCoverMessage {
    display: grid;
    width: 75%;
    align-self: center;
    justify-self: center;
    color: var(--medium);
    text-align: justify;
}

.HomePageCoverMessage h1 {
    line-height: 1.55;
}

.HomePageCoverMessage h6 {
    line-height: 1.5;
}

/* Home Page Cover Media Query */


@media only screen and (max-width: 10in) {

    .HomePageCoverMessage {
        width: 90%;
        }
    
    .HomePageCoverMessage h1 {
        text-align: left;
        font-size: calc(var(--CoverTextLargeHeadFontSize) * 50%);
    }
    
    .HomePageCoverMessage h6 {
        font-size: calc(var(--CoverTextParagraphFontSize) * 75%);
        line-height: normal;
    }
    
}

/* Home Page Cover Media Query End */


/* First Gear */

.HomePageCover .parent {
    opacity: 0.3;
}

.HomePageCover .parent1 {
    position: absolute;
    display: inline;
    margin: 8% 0% -10% 80%;
}

.HomePageCover .parent1 .gear {
    width: 10vmin;
    height: 10vmin;
    margin: auto;
    background: var(--Plain);
    border-radius: 50%;
    animation-name: spin;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.HomePageCover .parent1 .gear .center {
    position: relative;
    top: 2.5vmin;
    left: 2.5vmin;
    z-index: 10;
    width: 5vmin;
    height: 5vmin;
    background: var(--Plain-medium);
    border-radius: 50%;
}

.HomePageCover .parent1 .gear .tooth {
    position: absolute;
    top: -1.25vmin;
    left: 3.75vmin;
    z-index: 1;
    width: 2.25vmin;
    height: 13vmin;
    background:var(--Plain);
}

.HomePageCover .parent1 .gear .tooth:nth-child(2){
    transform: rotate(45deg);
}

.HomePageCover .parent1 .gear .tooth:nth-child(3) {
    transform: rotate(90deg);
}

.HomePageCover .parent1 .gear .tooth:nth-child(4) {
    transform: rotate(135deg);
}

/* First Gear Media Query */

@media only screen and (max-width: 10in) {

    .HomePageCover .parent1 {
        margin: 12% 0% 0% 40%;
    }    
}

/* First Gear Media Query End */
/* First Gear End */

/* Second Gear */


.HomePageCover .parent2 {
    display: inline;
    position: absolute;
    margin: 5% 0% 5% 67%;
}

.HomePageCover .parent2 .gear {
    width: 20vmin;
    height: 20vmin;
    margin: auto;
    background: var(--Plain);
    border-radius: 50%;
    animation-name: spin;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.HomePageCover .parent2 .gear .center {
    position: relative;
    top: 5vmin;
    left: 5vmin;
    z-index: 10;
    width: 10vmin;
    height: 10vmin;
    background: var(--Plain-medium);
    border-radius: 50%;
}

.HomePageCover .parent2 .gear .tooth {
    position: absolute;
    top: -2.5vmin;
    left: 7.5vmin;
    z-index: 1;
    width: 4.5vmin;
    height: 25vmin;
    background:var(--Plain);
}

.HomePageCover .parent2 .gear .tooth:nth-child(2){
    transform: rotate(45deg);
}

.HomePageCover .parent2 .gear .tooth:nth-child(3) {
    transform: rotate(90deg);
}

.HomePageCover .parent2 .gear .tooth:nth-child(4) {
    transform: rotate(135deg);
}


/* Second Gear Media Query */

@media only screen and (max-width: 10in) {

    .HomePageCover .parent2 {
        margin: 12% 0% -15% 55%;
    }   
}

/* Second Gear Media Query End */
/* Second Gear End */

/* Third Gear */

.HomePageCover .parent3 {
    display: inline;
    position: absolute;
    margin: 12% 0% -5% 55%;
}

.HomePageCover .parent3 .gear {
    width: 20vmin;
    height: 20vmin;
    margin: auto;
    background: var(--Plain);
    border-radius: 50%;
    animation-name: spin;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.HomePageCover .parent3 .gear .center {
    position: relative;
    top: 5vmin;
    left: 5vmin;
    z-index: 10;
    width: 10vmin;
    height: 10vmin;
    background: var(--Plain-medium);
    border-radius: 50%;
}

.HomePageCover .parent3 .gear .tooth {
    position: absolute;
    top: -2.5vmin;
    left: 7.5vmin;
    z-index: 1;
    width: 4.5vmin;
    height: 25vmin;
    background:var(--Plain);
}

.HomePageCover .parent3 .gear .tooth:nth-child(2){
    transform: rotate(45deg);
}

.HomePageCover .parent3 .gear .tooth:nth-child(3) {
    transform: rotate(90deg);
}

.HomePageCover .parent3 .gear .tooth:nth-child(4) {
    transform: rotate(135deg);
}


/* Third Gear Media Query */

@media only screen and (max-width: 10in) {

    .HomePageCover .parent3 {
        margin: 12% 0% 25% 70%;
    }    
}

/* Third Gear Media Query End */
/* Third Gear End */


/* Home Page Cover Animation */

@keyframes spin {
    from {transform: rotate(0deg); }
    to {transform: rotate(360deg);}
}

/* Home Page Cover Animation End */


@font-face {
    src: url(/Assets/Fonts/Selected/Buttons/Clark.otf);
    font-family: BtnReachUs;
}

.HomePageCover button.HomePageCoverReachUs {
    position: absolute;
    justify-self: right; align-self: end;
    margin-right: 2vw; margin-bottom: 5vh;
    width: 6.5em; height: 1.5em;
    background-color: var(--dark);
    color: var(--Plain);
    outline: var(--medium);
    border-color: var(--medium);
    border-radius: 5px;
    font-family: BtnReachUs;
    font-size: 2em;
    text-align: center;
}


@font-face {
    src: url(/Assets/Fonts/Selected/Quango.otf);
    font-family: Buttons;
}

.HomePageCover button.HomePageCoverReachUs:hover {
    background-color: var(--medium);
    outline: var(--light);
    border-color: var(--light);
    font-family: Buttons;
    transform: scale(1.1);
    transform: translateY(0.1em);
    cursor: pointer;
}

.HomePageCover button.HomePageCoverReachUs:focus {
    background-color: var(--medium);
    outline: var(--dark);
    border-color: var(--light);
    font-family: Buttons;
    transform: scale(1.1);
    transform: translateY(0.1em);
    cursor: pointer;
}


/* Home Page Cover Button Reach Us Media Query */

@media only screen and (max-width: 10in) {

    .HomePageCover button.HomePageCoverReachUs {
        margin-right: 0;
        justify-self: center;
    }
}

@media only screen and (max-width: 330px) {

    .HomePageCover {
        grid-auto-rows: minmax(95vh, auto);
    }
}

/* Home Page Cover Button Reach Us Media Query End */
/* Home Page Cover End */



/* Home Page Value Proposition */
section.ValueProposition {
    padding: 5% 0;
    display: grid;
    grid-template-columns: 1.85fr 1fr;
    grid-auto-rows: minmax(50vmin, auto);
    box-sizing: border-box;
    margin: auto;
    color: var(--dark);
    align-items: center;
    text-align: left;
    white-space: pre-line;
}

section.ValueProposition aside.TextArea {
    display: grid;
    grid-template-columns: 1fr;
    align-content: center;
    justify-content: center;
    background-color: var(--Plain);
    padding: 0 2em;
    box-sizing: border-box;
}

section.ValueProposition aside.TextArea p {
    text-align: justify;
}

section.ValueProposition aside.TextArea h5.span.Emphasis {
    font-weight: bold;
}

section.ValueProposition aside.GraphicsArea {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 45vh;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

section.ValueProposition aside.GraphicsArea .ImageSlides {
    height: 40vh;
    display: grid;
    grid-template-columns: 1fr;
    position: relative;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: var(--Plain);
    animation: ValuePropositionSlider 20s infinite linear alternate;
}

@keyframes ValuePropositionSlider {
    0%  {background-image: url(/Assets/Images/ValuePropositionSectionImages/MSID-Rotavator.png);}
    22%  {background-image: url(/Assets/Images/ValuePropositionSectionImages/MSID-Rotavator.png);}

    25% {background-image: url(/Assets/Images/ValuePropositionSectionImages/MSID-Wheat-Reaper-Machine-Double-Gear-System.png);}
    48% {background-image: url(/Assets/Images/ValuePropositionSectionImages/MSID-Wheat-Reaper-Machine-Double-Gear-System.png);}

    50% {background-image: url(/Assets/Images/ValuePropositionSectionImages/Reaper-Machine-belt-System.png);}
    73% {background-image: url(/Assets/Images/ValuePropositionSectionImages/Reaper-Machine-belt-System.png);}

    75% {background-image: url(/Assets/Images/ValuePropositionSectionImages/Wheat-Reaper-Machine-Double-Gear-Large-Front.png);}
    98% {background-image: url(/Assets/Images/ValuePropositionSectionImages/Wheat-Reaper-Machine-Double-Gear-Large-Front.png);}
}

section.ValueProposition aside.GraphicsArea .ImageSlides::after {
    content: "";
    position: absolute;
    font-weight: bolder;
    color: var(--dark);
    text-align: center;
    bottom: 0;
    line-height: 5vh;
    width: 33vw; max-width: 100%;
    background-color: var(--Plain);
    opacity: 0.9;
    animation: ValuePropositionImageCaption 20s infinite linear alternate;
}

@keyframes ValuePropositionImageCaption {
    0% {content: "MSID Rotavator";}
    22% {content: "MSID Rotavator";}
    25% {content: "Reaper Machine Double Gear System";}
    48% {content: "Reaper Machine Double Gear System";}
    50% {content: "Reaper Machine Belt System";}
    73% {content: "Reaper Machine Belt System";}
    75% {content: "Reaper Machine Double System Gear Large Front";}
    98% {content: "Reaper Machine Double System Gear Large Front";}
}


/* Home Page Value Proposition Media Query */
@media only screen and (max-width: 10in) {

    section.ValueProposition {
        padding: 10% 0;
        grid-template-columns: 1fr;
        grid-auto-rows: minmax(30vmax, auto);
    }

    section.ValueProposition aside.TextArea {
        padding: 5%;
    }    

    section.ValueProposition aside.TextArea br {
        display: none;
    }

    section.ValueProposition aside.TextArea h3 {
        margin: 5% 0;
    }

    section.ValueProposition aside.TextArea p {
        margin: 5% 0;
    }
        
    section.ValueProposition aside.TextArea h5.span.Emphasis {
        margin: 5% 0;
    }  

    section.ValueProposition aside.GraphicsArea .ImageSlides::after {
        line-height: 3.5vh;
        width: 100vw; max-width: 100%;
        font-size: 0.9em;
        word-wrap: normal;
        font-weight: bolder;
    }
}

/* Home Page Value Proposition Media Query End */
/* Home Page Value Proposition End */

/* Factory View Image */

.msiFactoryView {
    height: 100%;
    background-image: url(/Assets/Images/CoverImages/Mughal\ Shabbir\ Industries\ Factory\ View.jpg);
    background-attachment: fixed;
    background-size: cover;
    box-shadow: inset 0 0 1.5em 0.5em var(--extra);
}

/* Factory View Image End */


/* Search Section */
@font-face {
    src: url(/Assets/Fonts/Selected/Quango.otf);
    font-family: SearchSection;
}

.SearchSection {
    padding: 5% 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(15vh, auto);
    align-items: center;
    justify-content: center;
    background-color: var(--Plain-medium);
    color: var(--dark);
}

section.SearchSection .SectionCoverup {
    display: grid;
    padding: 2% 5%;
    align-items: center;
    justify-content: center;
    white-space: pre-line;
}

section.SearchSection .SectionCoverup h2, h6 {
    font-family: SearchSection;

}


/* Search Section Search Field */
@font-face {
    src: url(/Assets/Fonts/Icon/Aquawax-Pro-Pictograms-Heavy.otf);
    font-family: SearchButton;
}

section.SearchSection .SearchField {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
}

section.SearchSection .SearchField .SearchBox {
    position: absolute;
    height: 2.7em; width: 50vw;
    border: none; outline: none;
    padding: 0 1%;
    border-left: solid thin var(--medium);
    border-bottom: solid medium var(--medium);
    border-radius: 10px;
    font-size: 0.8em;
}

section.SearchSection .SearchField .SearchButton {
    display: block;
    position: absolute;
    font-family: SearchButton;
    color: var(--dark);
    text-decoration: none;
    font-size: 1.8em;
    transform: translateX(23.5vw);
}

section.SearchSection .SearchField:hover .SearchBox {
    background-color: var(--medium);
    color: var(--Plain);
}

section.SearchSection .SearchField:hover .SearchButton {
    color: var(--Plain);
}

section.SearchSection .SearchField .SearchBox:focus {
    background-color: var(--medium);
    color: var(--Plain);
}

section.SearchSection .SearchField .SearchBox:hover ~ .SearchButton {
    color: var(--Plain);
}

section.SearchSection .SearchField .SearchBox:focus ~ .SearchButton {
    color: var(--Plain);
}

section.SearchSection .SearchField .SearchBox::placeholder {
    color: var(--dark);
}

section.SearchSection .SearchField:hover .SearchBox::placeholder {
    color: var(--Plain);
}

section.SearchSection .SearchField .SearchBox:focus::placeholder {
    color: var(--Plain);
}

section.SearchSection .SearchField .SearchButton:hover {
    color: var(--Plain);
}


/* Search Section Media Query */
@media only screen and (max-width: 10in) {

    section.SearchSection {
        grid-auto-rows: minmax(25vmin, auto);
    }    

    section.SearchSection .SectionCoverup {
        padding: 5%;
        text-align: left;
    }

    section.SearchSection .SectionCoverup br {
        display: none;
    }

}


/* Search Section Media Query End */


/* Search Section Search Field Media Query */
@media only screen and (max-width: 10in) {

    section.SearchSection .SearchField .SearchBox {
        height: 2em; width: 90vw;
        padding: 2%;
    }

    section.SearchSection .SearchField .SearchButton {
        margin-left: 35%;
    }
}


/* Search Section Search Field Media Query End*/
/* Search Section Search Field End*/
/* Search Section End*/


/* Location Section */

section.Location {
    position: relative;
    padding-bottom: 45%;
    height: 0;
    overflow: hidden;
}

section.Location div iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; height: 100%;
}

/* Location Section Media Query */
@media only screen and (max-width: 10in) {

    section.Location {
        position: relative;
        padding-bottom: 75%;
    }
}

/* Location Section Media Query End */
/* Location Section End */


/* Footer Section */

footer {
    position: relative;
    display: grid;
    grid-template-columns: 10vmax 2fr 2fr;
    grid-auto-rows: minmax(5vmax, auto);
    grid-template-areas:
    ". . ."
    "MenuLinksArea GeneralInfoArea BusinessTitleFooter"
    "MenuLinksArea GeneralInfoArea SiteSloganFooter"
    "MenuLinksArea GeneralInfoArea SiteLogoArea "
    ". GeneralInfoArea ExternalLinksArea"
    ". . .";
    padding: 0 2%;
    grid-gap: 1em ;
    background-color: var(--dark);
}

footer .MenuLinks {
    display: grid;
    grid-area: MenuLinksArea;
    align-items: start;
    justify-content:start;
}

footer .MenuLinks ul {
    display: grid;
    align-items: start;
    justify-content: center;
    grid-gap: auto;
}

footer .MenuLinks ul li {
    list-style: none;
    margin: 5% 0;
}

footer .MenuLinks ul li a {
    text-decoration: none;
    color: var(--Plain-medium);
    font-size: 1em;
}

footer .BusinessInfo {
    display: grid;
    grid-area: GeneralInfoArea;
    align-items: start;
    font-size: 1em;
    color: var(--Plain-medium);
}

footer .BusinessTitleFooter {
    grid-area: BusinessTitleFooter;
    align-self: end;
    justify-self: left;
    font-family: BusinessTitle;
    font-size: calc(2em + 0.25vmin);
    font-weight: bolder;
    color: var(--Plain-medium);
}

footer .SiteSloganFooter {
    grid-area: SiteSloganFooter;
    align-self: start;
    justify-self: left;
    font-family: SiteSlogan;
    font-size: calc(1.75em + 0.25vmin);
    color: var(--Plain-medium);
}

footer .FooterLogo {
    height: 5vmin; Width: auto;
    background-color: var(--Plain);
    grid-area: SiteLogoArea;
    align-self: end;
    justify-self: start;
}

footer .ExternalLinks {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 0fr 1fr 9fr;
    align-items: center;
    grid-area: ExternalLinksArea;
    font-size: 1.5em;
    color: var(--Plain-medium);
}


/* Footer Section Media Query */
@media only screen and (max-width: 10in) {

    footer {
        grid-template-columns: 1fr;
        grid-template-areas:
        "BusinessTitleFooter"
        "SiteSloganFooter"
        "GeneralInfoArea"
        "SiteLogoArea"
        "ExternalLinksArea"
        "MenuLinksArea";
        padding: 1em 0.8em;
        grid-gap: 0.1em;
    }

    footer .BusinessTitleFooter {
        padding-top: 8%;
        font-size: calc(1.25em + 0.25vmin);
        justify-self: left;
    }

    footer .SiteSloganFooter {
        font-size: calc(1em + 0.25vmin);
        justify-self: left;
    }

    footer .BusinessInfo {
        justify-self: left;
        font-size: 0.8rem;
        padding: 5% 0;
        grid-row-gap: 0.4rem;
    }

    footer .FooterLogo {
        margin: 5% 0;
        justify-self: left;
    }

    footer .ExternalLinks {
        grid-template-columns:0fr 1fr 20fr;
        grid-column-gap: 0.2rem ;
        align-items: center;
        justify-content: left;
        font-size: 1.2rem;
    }

    footer .MenuLinks {
        padding: 0;
        align-self: stretch;
        align-items: center;
        justify-content: stretch;
        font-family: SiteMenu;
    }

    footer .MenuLinks ul {
        justify-items: left;
        grid-template-columns: repeat(auto-fit, minmax(5.5rem, 1fr));
    }

    footer .MenuLinks ul li {
        display: grid;
        margin: 0;
    }


}


/* Footer Section Media Query End */
/* Footer Section End */






